<template>
    <form :action="'/admin/products/' + item.id" method="post" class="max-w-5xl" enctype="multipart/form-data">

        <div class="grid grid-cols-2 gap-5 ">
            <div>
                <input type="hidden" name="_token" :value="token">

                <h2 class="text-lg mb-4">Datos del Producto</h2>

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">
                        Nombre
                    </label>
                    <div class="mt-1">
                        <input v-model="item.name" name="name" type="text" autocomplete="off" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">
                        Categoría
                    </label>
                    <select v-model="item.category_id" name="category_id" class="appearance-none border-0 outline-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">
                        Descripción
                    </label>
                    <div class="mt-1">
                        <input v-model="item.description" name="description" type="text" autocomplete="off">
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">
                        Precio
                    </label>
                    <div class="mt-1">
                        <input v-model="item.price" name="price" type="text" autocomplete="off" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">
                        Imagen
                    </label>
                    <div class="mt-1">
                        <img class="max-w-md" :src="'/storage/' + item.picture" alt="">
                    </div>
                    <div class="mt-1">
                        <input type="file" name="picture">
                    </div>
                </div>
            </div>

            <div>

                <div class="mb-10">
                    <h2 class="text-lg mb-4">Ingredientes Personalizables</h2>

                    <div class="flex flex-col" v-if="ingredientList.length > 0">
                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                    <table class="min-w-full divide-y divide-gray-200">
                                        <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Ingrediente
                                            </th>
                                            <th scope="col" class="relative px-6 py-3">
                                                <span class="sr-only">Edit</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Odd row -->
                                        <tr class="bg-white" :class="{'bg-gray-50': index % 2 === 0}" v-for="(ingredientItem, index) in ingredientList">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                {{ ingredientItem.name }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                <a @click="removeIngredient(index)" href="#" class="text-indigo-600 hover:text-indigo-900">Quitar</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <label class="block text-sm font-medium text-gray-700">
                            Agregar Ingrediente
                        </label>
                        <div class="flex mt-1">
                            <div class="mr-3">
                                <select ref="selectedIngredient" name="ingredient_id" class="appearance-none border-0 outline-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                                    <option v-for="ingredient in ingredients" :value="ingredient.id+'|'+ingredient.name">{{ ingredient.name }}</option>
                                </select>
                            </div>

                            <button type="button" @click="addIngredient" class="btn-secondary">Agregar al Producto</button>
                        </div>

                    </div>
                </div>



                <div class="mb-10 border-t border-gray-500 pt-10">
                    <h2 class="text-lg mb-2">Adiciones disponibles</h2>

                    <!-- This example requires Tailwind CSS v2.0+ -->
                    <div class="flex flex-col" v-if="additionList.length > 0">
                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                    <table class="min-w-full divide-y divide-gray-200">
                                        <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Ingrediente
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Precio
                                            </th>
                                            <th scope="col" class="relative px-6 py-3">
                                                <span class="sr-only">Edit</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Odd row -->
                                        <tr class="bg-white" :class="{'bg-gray-50': index % 2 === 0}" v-for="(ingredientItem, index) in additionList">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                {{ ingredientItem.name }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                ${{ ingredientItem.pivot.price }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                <button @click="removeAddition(index)" class="text-indigo-600 hover:text-indigo-900">Quitar</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-5">
                        <div class="flex mt-1">
                            <div class="mr-3">
                                <select @change="clearAdditionPrice" ref="additionIngredient" name="addition_ingredient_id">
                                    <option v-for="ingredient in ingredients" :value="ingredient.id+'|'+ingredient.name">{{ ingredient.name }}</option>
                                </select>
                            </div>

                            <div class="mr-3">
                                <input v-model="additionPrice" style="width: 150px;" placeholder="$" type="text">
                            </div>

                            <button type="button" @click="addAddition" class="btn-secondary">Agregar</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="flex items-center mt-5 space-x-2">
            <a href="/admin/products" class="btn-cancel">
                <span>Cancelar</span>
            </a>

            <button type="submit" class="btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>

                <span>Actualizar</span>
            </button>
        </div>

        <input type="hidden" name="ingredients" :value="ingredientsString">
        <input type="hidden" name="additions" :value="additionsString">
    </form>


</template>

<script>
import {computed, onMounted, ref, watch} from "vue"

export default{
    props:['product', 'ingredients', 'categories', 'token'],
    setup(props){
        const ingredientList = ref(props.product.ingredients)
        const selectedIngredient = ref(null)
        const additionList = ref(props.product.additions)
        const additionIngredient = ref(null)
        const additionPrice = ref(null)
        const item =  ref(props.product)

        function addIngredient(){
            let i = selectedIngredient.value.value.split("|")
            ingredientList.value.push({
                'id': i[0], 'name': i[1]
            })
        }

        function removeIngredient(index){
            ingredientList.value.splice(index, 1)
        }

        let ingredientsString = computed(() => {
            let str = ''

            let divider = ''
            ingredientList.value.forEach(item => {
                str += divider + item.id
                divider = '|'
            })

            return str
        })

        function clearAdditionPrice(){
            additionPrice.value = ''
        }

        function addAddition(){
            let i = additionIngredient.value.value.split("|")
            additionList.value.push({
                'id': i[0], 'name': i[1], 'pivot': {'price': additionPrice.value}
            })

            clearAdditionPrice()
        }

        function removeAddition(index){
            additionList.value.splice(index, 1)
        }

        let additionsString = computed(() => {
            let str = ''

            let divider = ''
            additionList.value.forEach(item => {
                str += divider + item.id + '-' + item.pivot.price
                divider = '|'
            })

            return str
        })

        return {
            addIngredient,
            removeIngredient,
            ingredientList,
            selectedIngredient,
            ingredientsString,
            additionList,
            removeAddition,
            additionIngredient,
            additionsString,
            addAddition,
            additionPrice,
            clearAdditionPrice,
            item
        }
    }
}
</script>
