<template>
    <footer class="bg-black">
        <div class="w-full p-12 text-white text-center text-sm">
            <div
                class="max-w-4xl w-full mx-auto flex items-center justify-between mb-6"
            >
                <a href="/">
                    <div class="w-16 h-auto md:w-24">
                        <!-- logo Home svg -->
                        <img
                            src="/images/logo-box-burger-inverted.png"
                            alt="Box Burger"
                        />
                    </div>
                </a>

                <div class="flex justify-between space-x-5">
                    <div
                        v-for="media in socialMedias"
                        :key="media.id"
                        class="w-10 p-1 border-2 border-white rounded-full"
                    >
                        <a target="_blank" :href="media.fields.url">
                            <div v-html="media.fields.icon"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div
                class="max-w-4xl w-full mx-auto lg:flex-column items-center lg:justify-between"
            >
                <!-- rights and restriccions -->
                <div class="font-normal">
                    <p>Box Burger &copy; Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import { onMounted, ref } from "@vue/runtime-core";

export default {
    setup() {
        let socialMedias = ref(null);
        onMounted(() => {
            axios
                .get(
                    "https://cdn.contentful.com/spaces/n8kfljghbk5n/environments/master/entries?content_type=socialLinks&access_token=oS2h_7A-qjbsgsEZSdCbF3rQ1O5b05NIlB96F-DJhOg"
                )
                .then(function (response) {
                    socialMedias.value = response.data.items;
                    console.log(socialMedias.value.items[0].fields.url);
                })
                .catch(function (error) {});
        });

        return {
            socialMedias,
        };
    },
};
</script>
