<template>
    <div
        v-if="1 != 1"
        class="p-2 bg-black z-50 fixed left-0 top-0 w-full text-white flex flex-col justify-center items-center min-h-screen"
    >
        <div class="mb-12">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-20 w-20"
                viewBox="0 0 20 20"
                fill="currentColor"
            >
                <path
                    fill-rule="evenodd"
                    d="M9 3a1 1 0 012 0v5.5a.5.5 0 001 0V4a1 1 0 112 0v4.5a.5.5 0 001 0V6a1 1 0 112 0v5a7 7 0 11-14 0V9a1 1 0 012 0v2.5a.5.5 0 001 0V4a1 1 0 012 0v4.5a.5.5 0 001 0V3z"
                    clip-rule="evenodd"
                />
            </svg>
        </div>
        <h1 class="text-xl md:text-5xl font-semibold mb-2">
            Fuera de Horario de Servicio.
        </h1>
        <p class="text-sm md:text-2xl text-center">
            Te atenderemos todos los días en el horario de <br />
            <span class="font-semibold">12:00 P.M. a las 9:00 P.M.</span>
        </p>
    </div>

    <div v-else>
        <div
            v-if="
                isGettingAddress ||
                isShowingCart ||
                (currentProduct &&
                    currentProduct.category_id !== 2 &&
                    currentProduct.category_id !== 3)
            "
            class="transition duration-500 fixed bg-opacity-80 bg-black w-full h-full min-h-screen z-30"
        >
            <div
                class="bg-gray-100 shadow-lg w-11/12 sm:w-3/6 xl:w-2/6 top-0 right-0 fixed h-full min-h-screen overflow-auto"
            >
                <div class="cart mb-20" v-if="isGettingAddress">
                    <div class="flex items-center p-4">
                        <svg
                            @click="hideAddress"
                            xmlns="http://www.w3.org/2000/svg"
                            class="cursor-pointer h-8 w-8 mr-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                        <div class="font-light text-xl">Recogida o Envío</div>
                    </div>

                    <div class="select-none p-5">
                        <p class="text-center mb-3">
                            ¿Cómo quieres recibir tu pedido?
                        </p>
                        <div
                            class="flex items-center justify-center 2xl:flex-row flex-col 2xl:space-x-4 w-full"
                        >
                            <button
                                @click="changeShippingMethod('domicilio')"
                                :class="{
                                    'bg-black': shipping.method === 'domicilio',
                                    'bg-gray-400':
                                        shipping.method !== 'domicilio',
                                }"
                                class="flex mb-2 2xl:mb-0 items-center space-x-2 font-semibold w-full justify-center py-3 px-5 text-center text-white rounded"
                            >
                                <svg
                                    v-if="shipping.method === 'domicilio'"
                                    class="text-green-300 h-6 w-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                </svg>
                                <span>DOMICILIO</span>
                            </button>
                            <button
                                @click="changeShippingMethod('recogida')"
                                :class="{
                                    'bg-black': shipping.method === 'recogida',
                                    'bg-gray-400':
                                        shipping.method !== 'recogida',
                                }"
                                class="flex items-center space-x-2 font-semibold w-full justify-center py-3 px-5 text-center text-white rounded"
                            >
                                <svg
                                    v-if="shipping.method === 'recogida'"
                                    class="text-green-300 h-6 w-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                </svg>
                                <span>RECOGER EN TIENDA</span>
                            </button>
                        </div>

                        <div
                            v-if="shipping.method === 'recogida'"
                            class="bg-green-100 border border-green-200 rounded mt-3 text-center p-4"
                        >
                            <div
                                class="flex space-x-4 justify-center items-center mb-2"
                            >
                                <img
                                    src="/images/waze.png"
                                    alt="Buscanos en Waze como BURGER BOX CO"
                                />
                                <p class="font-semibold text-lg">
                                    Búscanos en Waze ó Google Maps.
                                </p>
                                <img
                                    src="/images/map.png"
                                    alt="Buscanos en Google Maps como BURGER BOX CO"
                                />
                            </div>
                            <p>
                                Estamos ubicados en Cota, Cundinamarca, en la
                                Calle 10 No. 05-03.
                            </p>
                        </div>

                        <div
                            v-else-if="shipping.method === 'domicilio'"
                            class="bg-yellow-200 border border-yellow-300 rounded mt-3 text-center p-4"
                        >
                            <div
                                class="flex items-center justify-center space-x-1"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="text-yellow-600 h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                </svg>
                                <div
                                    class="text-yellow-600 text-lg font-semibold"
                                >
                                    ATENCIÓN
                                </div>
                            </div>
                            <p>
                                Solo entregamos pedidos en Cota, Cundinamarca.
                            </p>
                        </div>

                        <p class="text-center mb-3 mt-6">
                            ¿Cómo quieres pagar tu pedido?
                        </p>
                        <div
                            class="flex items-center justify-center 2xl:flex-row flex-col 2xl:space-x-4 w-full"
                        >
                            <button
                                @click="changePaymentMethod('efectivo')"
                                :class="{
                                    'bg-black': payment.method === 'efectivo',
                                    'bg-gray-400':
                                        payment.method !== 'efectivo',
                                }"
                                class="flex mb-2 2xl:mb-0 justify-center items-center space-x-2 font-semibold w-full py-3 px-5 text-center text-white rounded"
                            >
                                <svg
                                    v-if="payment.method === 'efectivo'"
                                    class="text-green-300 h-6 w-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                </svg>
                                <span>DATÁFONO</span>
                            </button>
                            <button
                                @click="changePaymentMethod('online')"
                                :class="{
                                    'bg-black': payment.method === 'online',
                                    'bg-gray-400': payment.method !== 'online',
                                }"
                                class="flex justify-center items-center space-x-2 font-semibold w-full py-3 px-5 text-center text-white rounded"
                            >
                                <svg
                                    v-if="payment.method === 'online'"
                                    class="text-green-300 h-6 w-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                </svg>
                                <span>EN LÍNEA</span>
                            </button>
                        </div>

                        <p class="text-center mb-3 mt-6">
                            Completa los siguientes datos.
                        </p>
                        <form autocomplete="off">
                            <div
                                class="mb-2"
                                v-show="shipping.method == 'recogida'"
                            >
                                <select name="location" id="">
                                    <option value="">
                                        Recoger en BoxBurger Cota
                                    </option>
                                </select>
                            </div>

                            <div class="mb-2">
                                <input
                                    autocomplete="autocomplete_off_hack_xfr4!k"
                                    type="text"
                                    id="name"
                                    v-model="shipping.name"
                                    class="block w-full p-4 rounded"
                                    placeholder="Ingresa tu nombre"
                                />
                                <div
                                    v-if="errors.includes('name')"
                                    class="py-2 px-1 text-xs text-red-500"
                                >
                                    Debes ingresar tu nombre.
                                </div>
                            </div>

                            <div class="mb-2">
                                <input
                                    v-show="shipping.method == 'domicilio'"
                                    autocomplete="autocomplete_off_hack_x345d4!k"
                                    type="text"
                                    id="address"
                                    v-model="shipping.address"
                                    class="block w-full p-4 rounded border-2 border-gray-500"
                                    placeholder="Ingresa tu dirección"
                                />
                                <div
                                    v-if="errors.includes('address')"
                                    class="py-2 px-1 text-xs text-red-500"
                                >
                                    Debes ingresar tu dirección.
                                </div>
                            </div>

                            <div class="mb-2">
                                <input
                                    autocomplete="autocomplete_off_hack_xsdfg4!k"
                                    type="text"
                                    id="email"
                                    v-model="shipping.email"
                                    class="block w-full p-4 rounded border-2 border-gray-500"
                                    placeholder="Ingresa tu email"
                                />
                                <div
                                    v-if="errors.includes('email')"
                                    class="py-2 px-1 text-xs text-red-500"
                                >
                                    Debes ingresar tu email.
                                </div>
                            </div>

                            <div class="mb-2">
                                <input
                                    autocomplete="autocomplete_off_hack_xfjdnh!k"
                                    type="text"
                                    id="phone"
                                    v-model="shipping.phone"
                                    class="block w-full p-4 rounded border-2 border-gray-500"
                                    placeholder="Ingresa tu teléfono"
                                />
                                <div
                                    v-if="errors.includes('phone')"
                                    class="py-2 px-1 text-xs text-red-500"
                                >
                                    Debes ingresar tu teléfono.
                                </div>
                            </div>

                            <div>
                                <input
                                    autocomplete="autocomplete_off_hack_xfjdgt!k"
                                    type="text"
                                    id="phone"
                                    v-model="shipping.comments"
                                    class="block w-full p-4 rounded border-2 border-gray-500"
                                    placeholder="Observaciones"
                                />
                            </div>
                        </form>
                    </div>

                    <div class="p-5 text-center text-3xl font-semibold">
                        <div>
                            Total del Pedido ${{ changeFormatMoney(cartTotal) }}
                        </div>
                        <div
                            v-if="shipping.method == 'domicilio'"
                            class="font-medium text-lg text-center"
                        >
                            Domicilio: ${{ changeFormatMoney(shippingValue) }}
                            <span class="text-xs block"
                                >* El valor del domicilio puede variar de
                                acuerdo a la distancia.</span
                            >
                        </div>
                    </div>
                </div>

                <div class="cart mb-20" v-else-if="isShowingCart">
                    <div class="flex items-center p-4">
                        <svg
                            @click="hideCart"
                            xmlns="http://www.w3.org/2000/svg"
                            class="cursor-pointer h-8 w-8 mr-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                        <div class="font-light text-xl">Tu Pedido</div>
                    </div>

                    <div class="select-none">
                        <div
                            class="flex px-5 items-center justify-between cursor-pointer hover:bg-gray-200 rounded p-3"
                            v-for="item in cart"
                        >
                            <div class="flex items-center">
                                <img
                                    class="w-16 lg:w-24 h-auto rounded mr-2"
                                    :src="'/storage/' + item.picture"
                                    :alt="item.name"
                                />
                                <div class="">
                                    <div class="text-base lg:text-lg mb-1">
                                        {{ item.name }}
                                    </div>
                                    <p
                                        class="leading-tight text-sm text-gray-500 mb-1"
                                        v-if="item.description != ''"
                                    >
                                        {{ item.description }}
                                    </p>
                                    <div
                                        class="text-xl lg:text-2xl font-semibold"
                                    >
                                        ${{
                                            changeFormatMoney(
                                                item.price * item.qty
                                            )
                                        }}
                                    </div>
                                    <div
                                        v-if="item.qty > 1"
                                        class="text-sm text-gray-400"
                                    >
                                        ${{ changeFormatMoney(item.price) }}
                                        c/u.
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="flex items-center justify-center">
                                    <svg
                                        @click.stop="cartMinus(item)"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="cursor-pointer h-6 w-6 lg:h-10 lg:w-10 mr-2"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                        />
                                    </svg>
                                    <div class="mr-2 text-xl font-semibold">
                                        {{ item.qty }}
                                    </div>
                                    <svg
                                        @click.stop="cartPlus(item)"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="cursor-pointer h-6 w-6 lg:h-10 lg:w-10"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                        />
                                    </svg>
                                </div>

                                <div
                                    @click.stop="cartRemove(item)"
                                    class="mt-2 text-red-600 text-center text-small underline cursor-pointer"
                                >
                                    Eliminar
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-5 text-center text-3xl font-semibold">
                        Total del Pedido ${{ changeFormatMoney(cartTotal) }}
                    </div>
                </div>

                <div v-else class="customization">
                    <div class="flex items-center p-4">
                        <svg
                            @click="clearCurrentProduct"
                            xmlns="http://www.w3.org/2000/svg"
                            class="cursor-pointer h-8 w-8 mr-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                        <div class="font-light text-xl">
                            Personaliza tu producto
                        </div>
                    </div>

                    <div class="p-5">
                        <div class="mb-6 flex items-center">
                            <img
                                class="w-16 lg:w-24 h-auto rounded mr-2"
                                :src="'/storage/' + currentProduct.picture"
                                :alt="currentProduct.name"
                            />
                            <div>
                                <div class="text-2xl">
                                    {{ currentProduct.name }}
                                </div>
                                <p
                                    class="text-base text-gray-600 leading-tight"
                                >
                                    {{ currentProduct.description }}
                                </p>
                            </div>
                        </div>

                        <div class="mb-10">
                            <div
                                class="flex items-center mb-2"
                                v-for="ingredient in currentProduct.ingredients"
                            >
                                <input
                                    :id="ingredient.id"
                                    v-model="ingredient.include"
                                    :name="ingredient.id"
                                    type="checkbox"
                                    class="h-6 w-6 text-green-600 focus:ring-green-500 border-gray-300 rounded"
                                />
                                <label
                                    :for="ingredient.id"
                                    class="ml-2 block text-sm text-lg"
                                >
                                    {{ ingredient.name }}
                                </label>
                            </div>
                        </div>

                        <div class="mb-10 select-none">
                            <div class="text-2xl mb-6">
                                Adiciona a tu pedido
                            </div>

                            <div
                                class="flex items-center justify-between mb-3"
                                v-for="extra in extraProducts"
                            >
                                <div class="flex items-center">
                                    <img
                                        class="w-16 lg:w-24 h-auto rounded mr-2"
                                        :src="'/storage/' + extra.picture"
                                        :alt="extra.name"
                                    />
                                    <div class="">
                                        <div class="text-base lg:text-lg mb-1">
                                            {{ extra.name }}
                                        </div>
                                        <p
                                            class="leading-tight text-sm text-gray-500 mb-1"
                                            v-if="extra.description != ''"
                                        >
                                            {{ extra.description }}
                                        </p>
                                        <div
                                            class="text-xl lg:text-2xl font-semibold"
                                        >
                                            ${{
                                                changeFormatMoney(extra.price)
                                            }}
                                        </div>
                                    </div>
                                </div>

                                <div class="flex items-center justify-center">
                                    <svg
                                        @click="removeExtra(extra)"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="cursor-pointer h-6 w-6 lg:h-10 lg:w-10 mr-2"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                        />
                                    </svg>
                                    <div class="mr-2 text-xl font-semibold">
                                        {{ extra.qty }}
                                    </div>
                                    <svg
                                        @click="addExtra(extra)"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="cursor-pointer h-6 w-6 lg:h-10 lg:w-10"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="mb-20">
                            <div class="text-2xl mb-6">Bebidas</div>

                            <div
                                class="flex items-center justify-between mb-3"
                                v-for="drink in drinks"
                            >
                                <div class="flex items-center">
                                    <img
                                        class="w-16 lg:w-24 h-auto rounded mr-2"
                                        :src="'/storage/' + drink.picture"
                                        :alt="drink.name"
                                    />
                                    <div class="">
                                        <div class="text-base lg:text-lg mb-1">
                                            {{ drink.name }}
                                        </div>
                                        <p
                                            class="leading-tight text-sm text-gray-500 mb-1"
                                            v-if="drink.description != ''"
                                        >
                                            {{ drink.description }}
                                        </p>
                                        <div
                                            class="text-xl lg:text-2xl font-semibold"
                                        >
                                            ${{
                                                changeFormatMoney(drink.price)
                                            }}
                                        </div>
                                    </div>
                                </div>

                                <div class="flex items-center justify-center">
                                    <svg
                                        @click="removeExtra(drink)"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="cursor-pointer h-6 w-6 lg:h-10 lg:w-10 mr-2"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                        />
                                    </svg>
                                    <div class="mr-2 text-xl font-semibold">
                                        {{ drink.qty }}
                                    </div>
                                    <svg
                                        @click="addExtra(drink)"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="cursor-pointer h-6 w-6 lg:h-10 lg:w-10"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                v-if="
                    isGettingAddress ||
                    isShowingCart ||
                    (currentProduct &&
                        currentProduct.category_id !== 2 &&
                        currentProduct.category_id !== 3)
                "
            >
                <div v-if="isGettingAddress">
                    <div
                        v-show="payment.method === 'online'"
                        id="make-order"
                        class="p-4 fixed bottom-0 right-0 w-11/12 sm:w-3/6 xl:w-2/6"
                    >
                        <div
                            @click="pay"
                            id="make-order"
                            class="p-4 make-order bg-black text-white hover:bg-gray-700 w-full cursor-pointer text-xl text-center font-semibold"
                        >
                            <span>Pagar Pedido</span>
                        </div>
                    </div>

                    <div
                        v-show="payment.method === 'efectivo'"
                        class="p-4 fixed bottom-0 right-0 w-11/12 sm:w-3/6 xl:w-2/6"
                    >
                        <div
                            @click="pay"
                            v-show="payment.method === 'efectivo'"
                            class="p-4 bg-black text-white hover:bg-gray-700 transition duration-500 w-full cursor-pointer text-xl text-center font-semibold"
                        >
                            <span>Realizar Pedido</span>
                        </div>
                    </div>
                </div>

                <div
                    v-else-if="isShowingCart"
                    class="p-4 fixed bottom-0 right-0 w-11/12 sm:w-3/6 xl:w-2/6"
                >
                    <button
                        @click="getAddress"
                        class="disabled:cursor-default disabled:bg-gray-200 disabled:text-gray-400 p-4 bg-black text-white hover:bg-gray-700 transition duration-500 w-full cursor-pointer text-xl text-center font-semibold"
                    >
                        <span>Continuar con Envío</span>
                    </button>
                </div>

                <div
                    v-else
                    class="p-4 fixed bottom-0 right-0 w-11/12 sm:w-3/6 xl:w-2/6"
                >
                    <div
                        @click="addToCart"
                        class="p-4 bg-black text-white hover:bg-gray-700 transition duration-500 w-full cursor-pointer text-xl text-center font-semibold"
                    >
                        <span v-if="currentProductCount > 1"
                            >Agregar {{ currentProductCount }} productos por ${{
                                changeFormatMoney(currentProductPrice)
                            }}</span
                        >
                        <span v-else
                            >Agregar al pedido por ${{
                                changeFormatMoney(currentProductPrice)
                            }}</span
                        >
                    </div>
                </div>
            </div>
        </div>

        <header
            class="bg-white flex p-4 md:p-6 md:pb-5 items-center justify-between fixed w-full top-0 z-10 shadow-lg"
        >
            <div class="flex items-center mr-4">
                <a href="/">
                    <div class="w-24 h-auto md:w-32">
                        <!-- logo Home svg -->
                        <img
                            src="/images/main_images/header/logo-box-burger.png"
                            alt=""
                        />
                    </div>
                </a>
            </div>

            <div class="flex justify-between items-center text-lg uppercase">
                <div class="font-semibold hidden md:flex space-x-10">
                    <a target="_blank" :href="menuUrl">DESCARGAR MENÚ</a>
                    <a class="cursor-pointer" @click="showLocation"
                        >UBICACIÓN</a
                    >
                </div>
            </div>

            <div>
                <a
                    href="https://wa.me/573166342196?text=Hola%2C%20quiero%20hacer%20un%20pedido..."
                    target="_blank"
                    class="ml-10"
                >
                    <button
                        class="whitespace-normal md:whitespace-nowrap uppercase bg-black hover:bg-gray-400 rounded text-white transition-all duration-500 text-base px-4 py-2 font-semibold"
                    >
                        <span>PIDE POR WHATSAPP</span>
                    </button>
                </a>
            </div>
            <!--div
                @click="showCart"
                class="cursor-pointer flex items-center justify-center"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-8 w-8"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                    />
                </svg>

                <div v-if="cart.length > 0" class="text-xl ml-1">
                    {{ cart.length }}
                </div>
            </div-->
        </header>

        <div
            class="flex pt-28 sm:pt-48 flex-col items-center justify-center bg-hero md:bg-hero-md bg-no-repeat bg-center bg-cover mb-8"
        >
            <div class="p-8 py-20 sm:p-32 text-center">
                <p
                    class="estas-aqui text-center text-white text-5xl md:text-6xl font-light mb-6"
                >
                    Estás aquí para ser feliz.
                </p>

                <a
                    href="https://wa.me/573166342196?text=Hola%2C%20quiero%20hacer%20un%20pedido..."
                    target="_blank"
                    class="hidden lg:inline-block ring ring-white bg-black rounded text-white hover:text-gray-300 hover:bg-gray-700 inline-block text-center rounded mx-auto px-8 py-4 transition-all duration-500 text-2xl font-semibold text-center"
                >
                    <button
                    >
                        <span>HAZ TU PEDIDO POR WHATSAPP</span>
                    </button>
                </a>
            </div>
        </div>

        <a id="pedir"></a>

        <div class="p-6">
            <div
                class="text-black text-center text-2xl lg:text-3xl font-semibold mb-3"
            >
                HAZ TU PEDIDO AHORA.
            </div>
            <div class="text-gray-600 text-center text-xl font-medium mb-8">
                Pide tu domicilio o recoge en nuestra tienda en Cota.
            </div>

            <div class="sm:block mx-auto mb-4">
                <nav
                    class="flex flex-wrap text-base lg:text-xl justify-center space-x-2 lg:space-x-4"
                    aria-label="Tabs"
                >
                    <a
                        @click="changeCategory(category.id)"
                        class="mb-4 cursor-pointer px-4 lg:px-8 py-2 font-medium rounded-md text-white"
                        :class="{
                            'bg-black font-medium':
                                selectedCategory === category.id,
                            'bg-gray-500': selectedCategory !== category.id,
                        }"
                        v-for="category in categories"
                    >
                        {{ category.name }}
                    </a>
                </nav>
            </div>

            <div v-if="isLoading" class="loading-burger text-center">
                <img class="mx-auto block mb-2" src="/images/burger.gif" />
                <div class="text-sm text-gray-500">Cargando</div>
            </div>

            <div
                v-else
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 max-w-4xl lg:max-w-6xl mx-auto"
            >
                <div
                    class="flex flex-col w-64 rounded w-full"
                    v-for="product in products"
                >
                    <a
                        href="https://wa.me/573166342196?text=Hola%2C%20quiero%20hacer%20un%20pedido..."
                        target="_blank"
                    >
                        <img
                            class="w-full h-auto rounded-t-xl"
                            :src="'/storage/' + product.picture"
                            :alt="product.name"
                        />
                    </a>


                    <div
                        class="bg-black flex flex-col flex-grow justify-between text-white px-6 pt-4 pb-6 rounded-b-xl"
                    >
                        <div>
                            <div
                                class="flex items-center text-2xl justify-between mb-2"
                            >
                                <div>{{ product.name }}</div>
                                <div>
                                    ${{ changeFormatMoney(product.price) }}
                                </div>
                            </div>
                            <div class="text-gray-400">
                                {{ product.description }}
                            </div>
                        </div>

                        <button
                            :disabled="hour > 21 || hour < 12"
                            class="rounded flex items-center justify-center mt-4 bg-white text-black uppercase font-semibold px-6 py-4 w-full text-center"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-5 w-5 mr-2"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                            >
                                <path
                                    d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                />
                            </svg>
                            <span>
                                 <a
                                     href="https://wa.me/573166342196?text=Hola%2C%20quiero%20hacer%20un%20pedido..."
                                     target="_blank"
                                     class="rounded-lg"
                                 >PEDIR POR WHATSAPP</a></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky flex justify-end bottom-0 p-2">
            <a
                href="https://wa.me/573166342196?text=Hola%2C%20quiero%20hacer%20un%20pedido..."
                target="_blank"
                class="rounded-lg"
            >
                <img
                    class="z-30 block w-full h-auto"
                    src="/images/whatsapp.png"
                    alt="Estamos en Whatsapp"
                />
            </a>
        </div>
    </div>
</template>

<script>
import { computed, onMounted, ref } from "vue";

export default {
    props: ["categories"],
    mounted() {
        let vm = this;

        const script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://sdk.mercadopago.com/js/v2";
        const body = document.getElementsByTagName("Body")[0];
        body.appendChild(script);
    },
    setup(props) {
        const hour = ref();
        const isShowingCart = ref(false);
        const isGettingAddress = ref(false);
        const isLoading = ref(false);
        const selectedCategory = ref(props.categories[0].id);
        const products = ref(null);
        const extraProducts = ref(null);
        const drinks = ref(null);
        const cart = ref([]);
        const errors = ref([]);
        const shipping = ref({
            method: "domicilio",
            name: "",
            address: "",
            email: "",
            phone: "",
        });
        const payment = ref({
            method: "online",
        });
        const shippingValue = ref(0);
        const menuUrl = ref("");

        if (localStorage.hasOwnProperty("boxburgercart")) {
            cart.value = JSON.parse(localStorage.getItem("boxburgercart"));
        }

        const cartSettings = ref({});
        const currentProduct = ref(null);

        function changeFormatMoney(number) {
            return new Intl.NumberFormat("es-CO").format(number);
        }

        function changeCategory(cat) {
            isLoading.value = true;
            selectedCategory.value = cat;

            isLoading.value = true;
            axios
                .get("/api/products/" + selectedCategory.value)
                .then(function (response) {
                    products.value = response.data;
                    isLoading.value = false;
                })
                .catch(function (error) {})
                .then(function () {});
        }

        function blockHome() {
            document
                .getElementsByTagName("body")[0]
                .classList.add("overflow-hidden");
        }

        function unblockHome() {
            document
                .getElementsByTagName("body")[0]
                .classList.remove("overflow-hidden");
        }

        function setCurrentProduct(product) {
            if (product.category_id === 2 || product.category_id === 3) {
                addToCartDirectly(product);
            } else {
                blockHome();
                product.extras = [];
                product.drinks = [];

                product.ingredients.forEach(function (item) {
                    item.include = true;
                });

                extraProducts.value.forEach(function (item) {
                    item.qty = 0;
                    product.extras.push(item);
                });

                drinks.value.forEach(function (item) {
                    item.qty = 0;
                    product.drinks.push(item);
                });

                currentProduct.value = product;
            }
        }

        function clearCurrentProduct() {
            unblockHome();
            currentProduct.value = null;
        }

        function addExtra(extra) {
            if (extra.qty < 5) {
                extra.qty++;
            }
        }

        function removeExtra(extra) {
            if (extra.qty > 0) {
                extra.qty--;
            }
        }

        function cartPlus(item) {
            if (item.qty < 9) {
                item.qty++;
                updateCartStorage();
            }
        }

        function cartMinus(item) {
            if (item.qty > 1) {
                item.qty--;
                updateCartStorage();
            }
        }

        function cartRemove(item) {
            for (let i = 0; i < cart.value.length; i++) {
                if (cart.value[i].id === item.id) {
                    cart.value.splice(i, 1);
                    updateCartStorage();
                }
            }

            if (cart.value.length <= 0) {
                hideCart();
            }
        }

        function addToCartDirectly(item) {
            let found = false;
            cart.value.forEach((product) => {
                if (product.id === item.id) {
                    product.qty++;
                    found = true;
                }
            });

            if (!found) {
                item.qty = 1;
                cart.value.push(item);
            }

            showCart();
            updateCartStorage();
        }

        function addToCart() {
            currentProduct.value.extras.forEach((item) => {
                if (item.qty > 0) {
                    let found = false;
                    cart.value.forEach((product) => {
                        if (product.id === item.id) {
                            product.qty += item.qty;
                            found = true;
                        }
                    });

                    if (!found) {
                        cart.value.push(item);
                    }
                }
            });

            currentProduct.value.extras = [];

            currentProduct.value.drinks.forEach((item) => {
                if (item.qty > 0) {
                    let found = false;
                    cart.value.forEach((product) => {
                        if (product.id === item.id) {
                            product.qty += item.qty;
                            found = true;
                        }
                    });

                    if (!found) {
                        cart.value.push(item);
                    }
                }
            });

            currentProduct.value.drinks = [];

            currentProduct.value.qty = 1;
            cart.value.push(currentProduct.value);

            clearCurrentProduct();
            showCart();
            updateCartStorage();
        }

        function updateCartStorage() {
            localStorage.setItem("boxburgercart", JSON.stringify(cart.value));
        }

        onMounted(() => {
            changeCategory(selectedCategory.value);
            cartSettings.value.deliveryMethod = "pickup";

            cart.value.products = [];
            cart.value.extras = [];
            cart.value.drinks = [];

            //llamar a api aqui http://worldtimeapi.org/api/timezone/America/Bogota
            axios
                .get("/time")
                .then(function (response) {
                    hour.value = response.data;
                })
                .catch(function (error) {})
                .then(function () {});

            axios
                .get("/api/products/" + 2)
                .then(function (response) {
                    extraProducts.value = response.data;
                })
                .catch(function (error) {})
                .then(function () {});

            axios
                .get("/api/products/" + 3)
                .then(function (response) {
                    drinks.value = response.data;
                })
                .catch(function (error) {})
                .then(function () {});

            axios
                .get(
                    "https://cdn.contentful.com/spaces/n8kfljghbk5n/environments/master/entries/13cOMZAgIdiDRQXcOBKH3D?access_token=oS2h_7A-qjbsgsEZSdCbF3rQ1O5b05NIlB96F-DJhOg"
                )
                .then(function (response) {
                    shippingValue.value =
                        response.data.fields.valorDelDomicilio;
                })
                .catch(function (error) {})
                .then(function () {});

            axios
                .get(
                    "https://cdn.contentful.com/spaces/n8kfljghbk5n/environments/master/assets/75f9awKREOl5YQta5Jndsy?access_token=oS2h_7A-qjbsgsEZSdCbF3rQ1O5b05NIlB96F-DJhOg"
                )
                .then(function (response) {
                    menuUrl.value = response.data.fields.file.url;
                })
                .catch(function (error) {})
                .then(function () {});
        });

        const currentProductPrice = computed(() => {
            if (!currentProduct.value) {
                return 0;
            }

            let price = 0;

            if (currentProduct.value) {
                price = parseInt(currentProduct.value.price);

                if (
                    currentProduct.value.extras &&
                    currentProduct.value.extras.length > 0
                ) {
                    currentProduct.value.extras.forEach((item) => {
                        price += parseInt(item.price * item.qty);
                    });
                }

                if (
                    currentProduct.value.extras &&
                    currentProduct.value.extras.length > 0
                ) {
                    currentProduct.value.drinks.forEach((item) => {
                        price += parseInt(item.price * item.qty);
                    });
                }
            }

            return parseInt(price);
        });

        const cartTotal = computed(() => {
            if (cart.value.length <= 0) {
                return 0;
            }

            let total = 0;
            for (let i = 0; i < cart.value.length; i++) {
                total += cart.value[i].qty * cart.value[i].price;
            }

            return total;
        });

        const currentProductCount = computed(() => {
            if (!currentProduct.value) {
                return 0;
            }

            let count = 0;

            if (currentProduct.value) {
                count = 1;

                if (
                    currentProduct.value.extras &&
                    currentProduct.value.extras.length > 0
                ) {
                    currentProduct.value.extras.forEach((item) => {
                        count += item.qty;
                    });
                }

                if (
                    currentProduct.value.extras &&
                    currentProduct.value.extras.length > 0
                ) {
                    currentProduct.value.drinks.forEach((item) => {
                        count += item.qty;
                    });
                }
            }

            return parseInt(count);
        });

        function showCart() {
            if (cart.value.length > 0) {
                blockHome();
                isShowingCart.value = true;
            }
        }

        function hideCart() {
            unblockHome();
            isShowingCart.value = false;
        }

        function editProduct() {
            console.log("edit product");
        }

        function getAddress() {
            hideCart();
            blockHome();
            isGettingAddress.value = true;
        }

        function hideAddress() {
            unblockHome();
            isGettingAddress.value = false;
        }

        function changeShippingMethod(method) {
            shipping.value.method = method;
        }

        function changePaymentMethod(method) {
            payment.value.method = method;
        }

        function showLocation() {
            document.getElementById("location").classList.remove("hidden");
            document.getElementById("location").classList.add("visible");
        }

        function pay() {
            errors.value = [];

            if (shipping.value.name === "") {
                errors.value.push("name");
                document.getElementById("name").focus();
                return false;
            }

            if (
                shipping.value.method == "domicilio" &&
                shipping.value.address === ""
            ) {
                errors.value.push("address");
                document.getElementById("address").focus();
                return false;
            }

            if (shipping.value.email === "") {
                errors.value.push("email");
                document.getElementById("email").focus();
                return false;
            }

            if (shipping.value.phone === "") {
                errors.value.push("phone");
                document.getElementById("phone").focus();
                return false;
            }

            if (payment.value.method == "online") {
                const mp = new MercadoPago(
                    "TEST-1b903a4d-9149-4ba4-8926-aed3eec0cd5b",
                    {
                        locale: "es-CO",
                    }
                );

                axios
                    .post("/api/mp/preference", {
                        cart: JSON.stringify(cart.value),
                        shipping: JSON.stringify(shipping.value),
                        payment: JSON.stringify(payment.value),
                    })
                    .then(function (response) {
                        const checkout = mp.checkout({
                            preference: {
                                id: response.data,
                            },
                            autoOpen: true,
                        });
                    })
                    .catch(function (error) {})
                    .then(function () {});
            } else {
                document.getElementById("blocker").classList.remove("hidden");
                document.getElementById("blocker").classList.add("visible");
                axios
                    .post("/api/save-manual-order", {
                        cart: JSON.stringify(cart.value),
                        shipping: JSON.stringify(shipping.value),
                        payment: JSON.stringify(payment.value),
                    })
                    .then(function (response) {
                        cart.value = [];
                        updateCartStorage();
                        location.href =
                            "/pago/success?order=" +
                            response.data +
                            "&preference_id=0&payment_id=0";
                    })
                    .catch(function (error) {})
                    .then(function () {});
            }
        }

        return {
            pay,
            changePaymentMethod,
            changeShippingMethod,
            payment,
            shipping,
            hideAddress,
            getAddress,
            cart,
            showCart,
            hideCart,
            cartSettings,
            addToCart,
            addToCartDirectly,
            currentProduct,
            setCurrentProduct,
            clearCurrentProduct,
            selectedCategory,
            changeCategory,
            products,
            extraProducts,
            addExtra,
            removeExtra,
            drinks,
            isLoading,
            currentProductPrice,
            currentProductCount,
            isShowingCart,
            cartMinus,
            cartPlus,
            cartRemove,
            editProduct,
            cartTotal,
            isGettingAddress,
            errors,
            showLocation,
            hour,
            changeFormatMoney,
            shippingValue,
            menuUrl,
        };
    },
};
</script>
