@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: 'Inter var', 'Inter', sans-serif;
}

.estas-aqui{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.bg-hero{
    background-size: cover;
}

input[type='text'], input[type='password'], input[type='email'], select, select[multiple], textarea{
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
}

select, select[multiple]{
    @apply pr-10;
}

.btn-primary{
    @apply inline-flex items-center px-3 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.btn-secondary{
    @apply inline-flex items-center px-3 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-black bg-gray-100 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.btn-cancel{
    @apply inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500
}

.mercadopago-button{
    @apply text-white text-xl text-center font-semibold bg-transparent p-0 m-0 outline-none p-4 !important;
}
